<a href="/dashboard">&larr; back</a>
<div class="admin-title">
  <h2>update post</h2>
  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="btn-delete btn" />
  </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post">
  <label for="title"><b>title</b></label>
  <input
    type="text"
    name="title"
    value="<%= data.title %>"
    placeholder="post title"
  />

  <label for="body"><b>content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn" />
</form>
